<!doctype html>  
<html lang="es">  
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Nevera</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/sha512.js"></script>
</head>  
<body>  
	<div data-ng-app="myApp" class='container' data-ng-controller='getLoginData'>
	
	
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
	 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
		</button>
      <a class="pull-left" href="#"><span class="navbar-brand pull-right">Mis Cajones</span>	<img style="max-width:50px; max-height: 50px; margin-left:5px" src="img/logo.svg" ></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/" data-ng-show="notlogged">Login</a></li>
        <li><a href="/Registro.html" data-ng-show="notlogged">Registro</a></li>
        <li><a href="/listar.html" data-ng-hide="notlogged">Listar</a></li>
        <li><a data-ng-click="logOut()" data-ng-hide="notlogged">LogOut</a></li>
      </ul>
    </div>
  </div>
</nav>		

		

			
	<form class="form well" data-ng-show="notlogged" name='myform'  data-ng-submit="singin()" novalidate>
	<h3>Inicia sesión:</h3>
	<fieldset>
	<div class="form-group">
		<label for='consumo'>Nombre:</label><br>
		<input type='text'  class="form-control" placeholder="Usuario" id='name' name='name' ng-model='user.name' required/>
		</div>
		<div class="form-group">
		<label for='password'>Contraseña:</label><br>
		<input type='password' placeholder="Contraseña" class="form-control" id='password' name='password' ng-model="user.password" required/>
		<label for='drawer'>Nº Cajones:</label><br>
		<input type='number'  class="form-control" id='drawer' name='drawers' ng-model="user.drawers" min="0" max="25" placeholder="1" required/>
		<br>
		<div role="alert" class="alert alert-danger" ng-show="myform.drawer.$error.number">
		No es un número !
		</div>
		<div role="alert" class="alert alert-danger" ng-show="myform.drawer.$error.max || myform.drawer.$error.min">
		No es un número válido, debe tener un valor entre 1 y 25!
		</div>
    
		</div>
	
		<div class="form-group">
		<button  type='submit' class="btn btn-success form-control center-block" ng-disabled="myform.$error.required || myform.$invalid" value='Enviar' id='enviar')/>Registrarse</button>
		</div>		
	</fieldset>
	</form>
	<div class=" well" data-ng-hide="notlogged">
	<center><h1>Bienvenido {{user.name}}</h1></center>
	
	</div>   
	
	
	<div id="myModal" class='modal fade' data-ng-show="success" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Felicidades</h4>
      </div>
      <div class="modal-body">
        <p>Usuario registrado.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="myModalError" class='modal fade' data-ng-show="success" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>El usuario ya esta registrado.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>   
	<script>
	function toSHA512(password) {
	var jsSha = new jsSHA(password);
	var hash = jsSha.getHash("SHA-512", "HEX");

	return hash;
}

	
	var app = angular.module('myApp', [])
app.controller('getLoginData', function ($scope, $http) {
    $scope.success = true;
	$scope.logged = false;
	$scope.user;
var loadeduser = JSON.parse(localStorage.getItem('user'));
	
	if (loadeduser == null)
	{
	$scope.notlogged = true;
	}
	else
	{
	$scope.user = loadeduser;
	}
	
$scope.singin = function (){
$scope.user.password = toSHA512($scope.user.password)

$http({url:"/SignIn",
		 method: "POST",
		 headers: {'Content-Type': 'application/json'},
		data:JSON.stringify($scope.user)})
		.success(function(data, status) {
			if (data)
			{
				$("#myModal").modal({backdrop: "static"});

			}
			else
			{
			$("#myModalError").modal({backdrop: "static"});
			}
			
			$scope.user = null;
        })

};

$scope.logOut = function (){
	localStorage.removeItem('user');
		$scope.notlogged = true;
		$scope.user = null;

};
});
	</script>
</body>  
</html>  	